[2018-10-01 16:35] Denz1994 opened #1 "Masses and Springs: Basics master checklist"
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863/pages/105821)
- [ ] **Learning

[2018-10-03 16:06] KatieWoe opened #2 "CT: Cannot read property 'reset' of undefined"
[code]

[2018-10-03 16:10] Denz1994 commented on #2
At the time of posting this issue the last CT test was done `10/3/2018 at 6:53:49am`. I believe  commit 09df18864202739926bbc1cf7b04d567f9b9698a fixed this issue, but I will wait until the next CT run to confirm.

[2018-10-03 23:01] Denz1994 opened #3 "Damping values should be adjusted on each screen to match design doc"
[Design Doc ](url)states: The springs could have a different color to help cue that they behave differently on Stretch (highly damped) vs. Bounce & Lab (no damping).

Currently the models' damping values don't match this request.

[2018-10-03 23:03] Denz1994 opened #4 "Masses can be dragged behind springNodes and springHangerNode"
The mass should be the most forward node when dragging. Currently, we can produce this behavior:
![image](https://user-images.githubusercontent.com/13894380/46444199-f1987380-c73e-11e8-8c78-1ac0655b88db.png)

[2018-10-03 23:04] Denz1994 commented on #4
[code]

[2018-10-05 16:34] Denz1994 opened #5 "Additional masses should be added to Stretch and Bounce Screens"
During the design meeting on 10/05/18 @kathy-phet and @arouinfar, decided that additional masses should be added to the Stretch and Bounce Screens. On slack @arouinfar mentioned that some mock-ups will be provided.

I have gone ahead and added some preliminary logic for supporting additional masses and shelves based on memory from the meeting. I'm opening this issue for a design review of the sugg

[2018-10-05 17:20] Denz1994 opened #6 "Add a Gravity Accordion Box to Lab Screen"
During the design meeting on 10/05/18 @kathy-phet and @arouinfar decided on adding an accordion box that contains the options for gravity. I have added some preliminary code for this accordion box. @arouinfar will provide mock-ups.

This issue is opened to provide review comments for the gravity accordion box.

[2018-10-05 17:26] Denz1994 opened #7 "Color of Resting Position Line doesn't match with panel representation."
The restingPositionLine color should be `rgb( 0, 180, 0 )`. Currently it is `black`.

[2018-10-05 18:01] #7 closed

[2018-10-05 19:13] Denz1994 commented on #3
Adding dev version [1.0.0-dev.2](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.2/phet/masses-and-springs-basics_en_phet.html) here for review.

[2018-10-05 19:13] Denz1994 commented on #5
Adding dev version [1.0.0-dev.2](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.2/phet/masses-and-springs-basics_en_phet.html) here for review.

[2018-10-05 19:14] Denz1994 commented on #6
Adding dev version [1.0.0-dev.2](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.2/phet/masses-and-springs-basics_en_phet.html) here for review.

[2018-10-05 23:28] arouinfar commented on #6
Looking pretty good @Denz1994. I have a few requests:
- [ ] Left-align "Gravity" instead of centering it (too much negative space)
- [ ] The HSlider and comboBox could both be a bit wider

Here's a mockup for reference:
![image](https://user-images.githubusercontent.com/8419308/46564298-ac517e80-c8c3-11e8-9049-cc9999ee6da3.png)

[2018-10-05 23:31] arouinfar commented on #3
@Denz1994 I think we could increase the damping a bit more. Let's try 0.7, since that's the max in MAS.

[2018-10-05 23:39] arouinfar commented on #5
That was fast @Denz1994! The shelves are looking really good. I'd like to increase the space between the mystery shelf and the springNode, because it's a bit tight currently.

![image](https://user-images.githubusercontent.com/8419308/46564547-30583600-c8c5-11e8-8ff0-7361dfe3c1e5.png)

Here are a few suggestions:
- [ ] Decrease space between these grouped masses by another px or two. The amount of

[2018-10-05 23:41] arouinfar opened #8 "Colorful springNode should be on Stretch screen"
@Denz1994 the purple springNode belongs on the damped screen (Stretch), but is currently on Bounce.

[2018-10-05 23:44] arouinfar opened #9 "Resting Position should correspond to Equilibrium Position"
Currently, the Resting Position is at the center of mass, which would correspond to the Mass Equilibrium in MAS:

![image](https://user-images.githubusercontent.com/8419308/46564691-41557700-c8c6-11e8-986c-dc82e3ec076f.png)

Instead, the Resting Position should correspond to the Equilibrium Position (bottom of springNode):
![image](https://user-images.githubusercontent.com/8419308/46564705-56320a8

[2018-10-05 23:48] arouinfar opened #10 "Checkboxes and icons should be aligned"
On the Lab Screen, the Velocity and Acceleration checkboxes are indented relative to the other checkboxes:
![image](https://user-images.githubusercontent.com/8419308/46564737-93969800-c8c6-11e8-828c-45e03eb6f64a.png)

Velocity and Acceleration checkboxes should be left-aligned with the other checkboxes, and the vector icons should be right-aligned with the line icons in the group above.
![image](h

[2018-10-07 00:42] Denz1994 commented on #5
The most complex portion of the above suggestion is getting the masses to float along with the shelf because it involves handling a new endAnimationPosition for the "return to shelf" animation when the visible bounds change. I would rather open a new issue for floating masses, as it is quite a logical deviation from MAS.

I just want to make sure this is still needed after the above other changes

[2018-10-07 01:08] Denz1994 commented on #6
The above changes have been made to the GravityAccordionBox. Please review @arouinfar in master.

[2018-10-07 01:14] Denz1994 commented on #8
Good catch. I've moved the colorful springNode to the Stretch screen. Leaving to @arouinfar to close.

[2018-10-08 02:31] arouinfar commented on #8
👍

[2018-10-08 02:31] #8 closed

[2018-10-08 02:32] arouinfar commented on #6
Looks good! Thanks @Denz1994.

[2018-10-08 02:37] arouinfar opened #11 "Planet X should be unknown"
Planet X should behave the same as MAS.

Currently, selecting Planet X looks like this:
![image](https://user-images.githubusercontent.com/8419308/46590415-42c2a300-ca70-11e8-9e0f-b6688b3ab85a.png)

Instead, the HSlider should disappear, and and be replaced with the string, "What is the value of gravity?" All of the logic switching between Planet X and the other benchmarks should also match MAS.

[2018-10-08 02:38] arouinfar commented on #3
Perfect, thanks @Denz1994!

[2018-10-08 02:38] #3 closed

[2018-10-08 03:09] arouinfar commented on #5
@Denz1994 I hadn't taken the "return to shelf" animation into account. While I'm sure QA would have fun with the floating shelf, I'm content to leave the shelf be.

In master, the shelves appear to have shifted, but the masses haven't moved. Compare master (top) to dev.2 (bottom). It looks like you need to re-center the mystery masses, and reduce the spacing between the known masses so they fit on

[2018-10-08 03:25] arouinfar opened #12 "Find alternative color for springNode on Stretch Screen"
On the Stretch Screen, the springNode is damped. The other screens have zero damping, so to cue that the Stretch Screen is different, the springNode was given a color.
![image](https://user-images.githubusercontent.com/8419308/46624888-49442f80-caef-11e8-89d0-9d6c3a81c1d4.png)

While the purple springNode has good contrast against the other colors in the sim, it is not distinguishable from the gra

[2018-10-08 03:29] arouinfar opened #13 "Z-order of springNode incorrect on Stretch screen"
Not sure if it's related to #4, but in master, the springNode on the Stretch screen is incorrectly layered. The z-ordering is correct on other screens, however.

![image](https://user-images.githubusercontent.com/8419308/46591408-cdf36700-ca77-11e8-99d8-7abf57c14472.png)

[2018-10-08 03:50] arouinfar commented on #6
One last request -- @Denz1994 can you make the accordion box closed by default?

[2018-10-08 17:46] arouinfar commented on #12
I tested two other purple options, and both had improved contrast against the gray springNode. Option 2 has just a bit more contrast, so I'd like to go with that @Denz1994.

## 1
[code]

![image](https://user-images.githubusercontent.com/8419308/46623458-f23c5b80-caea-11e8-807d-79b08546e371.png)

<img src="https://user-images.githubusercontent.com/8419308/46623357-9ffb3a80-caea-11e8-95aa-8f1abe330

[2018-10-08 19:37] arouinfar opened #14 "Lab Screen: Move shelf to lower left corner"
Currently, the shelf position makes things look a bit crowded.

![image](https://user-images.githubusercontent.com/8419308/46629701-068a5380-caff-11e8-8fc3-8e04036a3825.png)

In the mockups, the shelf is in the lower left corner of the screen, which is preferred.

![image](https://user-images.githubusercontent.com/8419308/46629738-291c6c80-caff-11e8-92d2-bd3d60b01d78.png)

[2018-10-08 19:54] arouinfar opened #15 "Create screen icons"
Stretch and Lab icons could be adapted from MAS, but it's not clear how best to differentiate between Stretch and Bounce.
<img src="https://user-images.githubusercontent.com/8419308/46630476-831e3180-cb01-11e8-9ee2-f49194d8a68c.png" width=300> <img src="https://user-images.githubusercontent.com/8419308/46630434-6d107100-cb01-11e8-92ba-5cfd0f735899.png" width=300>

[2018-10-09 00:49] Denz1994 commented on #13
This is related to #4. The above commit fixed this specific issue, but the larger issue is related to #4.

[2018-10-09 00:55] Denz1994 commented on #6
The accordion box has been set to non-expanded by default. Leaving to @arouinfar to close.

[2018-10-09 01:15] Denz1994 commented on #9
The EquilibriumYPositionProperty is used instead of MassEquilibriumYPositionProperty. Assigning to @arouinfar for review.

[2018-10-09 01:19] Denz1994 commented on #12
Color selection 2 was applied to the springs on the Stretch screen. Thoughts @arouinfar?

[2018-10-09 03:51] arouinfar commented on #6
👍

[2018-10-09 03:51] #6 closed

[2018-10-09 03:53] arouinfar commented on #5
I pulled master again, and the shelf alignment was correct. dev.3 also looks good. Thanks @Denz1994.

[2018-10-09 03:53] #5 closed

[2018-10-09 03:53] arouinfar commented on #9
Looks good!

[2018-10-09 03:53] #9 closed

[2018-10-09 03:58] arouinfar commented on #12
Looks good! Thanks @Denz1994.

[2018-10-09 03:58] #12 closed

[2018-10-10 16:04] Denz1994 commented on #11
Similar logic was added to GravityAccordionBox.js from GravityAndDampingControlNode.js. Because we aren't using a NumberControl, explicit visibility toggling logic needed to be implemented, along with some alignment adjustments.

Please review the above changes @arouinfar especially, when toggling from custom to Planet X.

[2018-10-10 16:31] Denz1994 commented on #15
Support has been added for home-screen-icons for each screen using placeholders. I have included @arouinfar as the creator for the icons in license.json. This should be reviewed before closing this issue.

At this point, the correct icons can be replaced when ready.

[2018-10-10 16:44] Denz1994 commented on #14
The masses and shelf have been shifted to the lower left side of the Lab screen. Please review in master  @arouinfar.

[2018-10-10 16:49] arouinfar commented on #14
Looks like the shelf has moved, but not the masses @Denz1994.
![image](https://user-images.githubusercontent.com/8419308/46752318-18443600-cc7a-11e8-9ea2-c67b0a6429a9.png)

[2018-10-10 16:55] Denz1994 commented on #14
@arouinfar Could you try pulling again? This may be similar to https://github.com/phetsims/masses-and-springs-basics/issues/5#issuecomment-428050880.

My local copy resembles the lab screen in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.4/phet/masses-and-springs-basics_all_phet.html).

[2018-10-10 18:04] arouinfar commented on #14
@Denz1994 I pulled MASB twice before my previous comment. In general, should I also be pulling MAS?

The new shelf position is looking good to me. :)

[2018-10-10 18:13] arouinfar commented on #11
The behavior now matches MAS. Thanks @Denz1994!

[2018-10-10 18:13] #11 closed

[2018-10-10 18:15] Denz1994 commented on #14
Oh, right. Sorry, I should have made that clear. It would be worth pulling MAS and MASB. Closing.

[2018-10-10 18:15] #14 closed

[2018-10-10 18:31] arouinfar commented on #15
I've designed these screen icons:
<img src="https://user-images.githubusercontent.com/8419308/46757671-11242480-cc88-11e8-81a0-d20b9fac0f4b.png" width=220>   <img src="https://user-images.githubusercontent.com/8419308/46757669-11242480-cc88-11e8-851c-c5b21650c933.png" width=220>   <img src="https://user-images.githubusercontent.com/8419308/46757670-11242480-cc88-11e8-8c47-926511b69dab.png" width=2

[2018-10-10 18:38] Denz1994 commented on #15
The above icons look great. I've applied them to the appropriate screens. Please review @arouinfar in master.

[2018-10-10 18:40] arouinfar commented on #15
Looks great! Thanks @Denz1994.

Since screen_icons.ai has been checked in, I'll delete it from Drive.

[2018-10-10 18:40] #15 closed

[2018-10-10 18:56] arouinfar opened #16 "Should Period Trace be centered about Resting Position?"
In MAS, the Period Trace is centered about the Mass Equilibrium.
![image](https://user-images.githubusercontent.com/8419308/46758898-43835100-cc8b-11e8-9801-c2a7365c9af0.png)

In MASB, the Period Trace is drawn with respect to the center of mass, which looks slightly odd when the resting (equilibrium) position is turned on.
![image](https://user-images.githubusercontent.com/8419308/46758992-775e76

[2018-10-10 19:27] arouinfar opened #17 "Inconsistent Z-ordering of reference lines"
Across all screens, the lines are inconsistently layered.  In general, I would prefer that the lines are layered above the springNode (for easier measurement), but behind the mass.

On Stretch, both lines are layered behind both the mass and springNode.
![image](https://user-images.githubusercontent.com/8419308/46760267-d83b7e00-cc8e-11e8-89c6-335f4d43b19b.png)

On Bounce, all lines are behind the

[2018-10-10 19:46] Denz1994 commented on #16
We can pass in our `basicsVersion` flag and add in some circumstantial logic as a workaround. This seems to work well in both versions, but @arouinfar should confirm.

[2018-10-10 19:52] arouinfar commented on #16
Looks awesome, thanks @Denz1994. I definitely prefer this behavior.

[2018-10-10 19:52] #16 closed

[2018-10-10 20:48] Denz1994 commented on #4
The order of adding view components to the scene graph has changed. Please review @arouinfar for the above correction.

 The masses should not be able to be dragged behind the springs or controls.

[2018-10-10 20:50] Denz1994 commented on #17
The order of adding view components to the scene graph has changed. Please review @arouinfar for the above correction.

All lines should be behind the mass and in front of the spring.

[2018-10-10 20:58] arouinfar commented on #13
@Denz1994 it looks like this got undone in working on #4 or #17.

[2018-10-10 20:59] arouinfar commented on #17
Looks great!

[2018-10-10 20:59] #17 closed

[2018-10-10 21:02] arouinfar commented on #4
@Denz1994 the Stretch and Lab screens look good, but I'm still seeing this on Bounce:
<img width="167" alt="screen shot 2018-10-10 at 3 02 04 pm" src="https://user-images.githubusercontent.com/8419308/46765873-7afaf900-cc9d-11e8-8e4a-435140a130f3.png">

[2018-10-10 21:09] Denz1994 commented on #4
Just pushed a fix. Review in master @arouinfar?

[2018-10-10 21:10] Denz1994 commented on #13
Ah, good catch. I just pushed a fix. Master should be reviewed @arouinfar.

[2018-10-10 21:18] arouinfar commented on #13
👍

[2018-10-10 21:19] #13 closed

[2018-10-10 21:19] arouinfar commented on #4
👍

[2018-10-10 21:19] #4 closed

[2018-10-10 23:12] arouinfar opened #18 "Allow panel/toolbox on right side to expand 50px before scaling down strings"
Similar to https://github.com/phetsims/masses-and-springs/issues/293

@Denz1994 can you allow the the panels on the right to expand a bit before scaling down the strings? The behavior can match MAS.

Things are looking a bit crowded even for `?stringTest=double`
![image](https://user-images.githubusercontent.com/8419308/46771127-793a3100-ccaf-11e8-9b4f-5e68284b5f56.png)

To keep things looking uni

[2018-10-11 17:56] arouinfar commented on #10
Looks great!

[2018-10-11 17:59] arouinfar commented on #10
Oops, forgot to check MAS.

MASB looks perfect, but the top group of checkboxes in MAS are now indented a bit.
![image](https://user-images.githubusercontent.com/8419308/46824111-23b46180-cd4d-11e8-8d48-13d76d1fe01c.png)

[2018-10-15 15:10] Denz1994 commented on #10
@arouinfar Both sims should be reviewed after the above commit.

[2018-10-15 21:52] arouinfar commented on #10
Looks great, thanks @Denz1994!

[2018-10-15 22:26] arouinfar opened #19 "Mystery Mass Values"
@Denz1994 I'd like to update the mystery mass values to the following:

Stretch & Bounce
* Small: 75 g
* Medium: 100 g
* Large: 200 g

Lab
* Small: 60 g
* Medium: 120 g
* Large: 180 g

[2018-10-15 22:28] arouinfar opened #20 "Change Color of Mystery Masses on Lab Screen"
Related to #19

Now that the mystery masses on the Lab no longer match the other screens, the colors should be changed.

Self-assigning to find alternate colors.

[2018-10-15 22:33] arouinfar opened #21 "Movable Line should be on top of other lines"
@Denz1994 I noticed that the z-ordering of the Movable Line could be tweaked a bit.

The Movable Line is currently sandwiched between the Unstretched Lengthand Resting Position, but should be on top of both.
![image](https://user-images.githubusercontent.com/8419308/46981914-7b2d3700-d097-11e8-8013-5d0e73233f09.png)
![image](https://user-images.githubusercontent.com/8419308/46981921-854f3580-d097-

[2018-10-15 23:20] arouinfar opened #22 "Add Movable Line to Stretch Screen"
@Denz1994 can you add the Movable Line to the Stretch Screen?

Originally, the thought was that the Movable Line was most helpful in dynamic situations, so it was left off of Stretch. However, in working on #19, I found the Movable Line to be pretty helpful in determining the mystery masses, so I think it would be good to include on the Stretch screen too.

[2018-10-16 00:37] Denz1994 commented on #21
The above change has been applied. Please review master @arouinfar.

[2018-10-16 00:43] Denz1994 commented on #22
Do you want the checkbox to be added to the LineOptionsNode as well? We can have the movable line always visible on this screen by default as well. Review these dev versions [1.0.0-dev.6](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.6/phet/masses-and-springs-basics_en_phet.html) [1.0.0-dev.7](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.7/phet/ma

[2018-10-16 00:47] Denz1994 commented on #19
Do you mind if the masses change size? Currently, the masses will look like this when the massValue changes (1.0.0-dev.7). If we keep the sizes the same as they were, I can adjust the density so they visibly keep their size. Thoughts @arouinfar?

[2018-10-16 13:15] arouinfar commented on #22
Thanks @Denz1994! Sorry if I was a bit vague with my original request. I prefer dev.6 (with the checkbox).

[2018-10-16 13:17] arouinfar commented on #21
👍

[2018-10-16 13:17] #21 closed

[2018-10-16 15:32] Denz1994 commented on #19
Correct. I left the labels on for testing purposes.

[2018-10-16 15:49] Denz1994 commented on #19
Can you review master @arouinfar? I will add the `?` when the current state of the masses is satisfactory.

[2018-10-16 16:16] Denz1994 commented on #22
The `movableLineNode` has been added to the Stretch screen and set to visible by default. Master should be reviewed for the above changes @arouinfar.

[2018-10-16 16:18] arouinfar commented on #22
@Denz1994 can you set the visibility to off by default?

[2018-10-16 16:19] Denz1994 commented on #22
I just noticed the movableLineNode isn't visible by default in [1.0.0-dev.6](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.6/phet/masses-and-springs-basics_en_phet.html). Fix incoming...

[2018-10-16 16:21] arouinfar commented on #19
@Denz1994 the masses all have the correct density, but the values on Lab should be:

Medium: 120 g
Large: 180 g

[2018-10-16 16:22] #22 closed, assigned to Denz1994

[2018-10-16 16:46] arouinfar commented on #19
Everything looks good @Denz1994!

[2018-10-16 16:51] Denz1994 commented on #19
Thanks, @arouinfar. The mystery labels have been applied to the mystery masses. Closing.

[2018-10-16 16:51] #19 closed

[2018-10-16 16:58] Denz1994 opened #23 "Shelves shift awkwardly with stringTest"
Because the alignment of the shelves is based on the positioning of the panels when the panels elongate (due to stringTest accommodations) the shelves also move.

Instead, the shelves should be aligned with the ScreenView.layoutBounds

[2018-10-16 17:01] Denz1994 commented on #23
The above change has been applied and the shelves no longer shift when the panels elongate.

[2018-10-16 17:01] #23 closed

[2018-10-16 21:12] arouinfar commented on #20
![image](https://user-images.githubusercontent.com/8419308/47047788-d6256380-d155-11e8-9280-eb3440b0aac2.png)

@Denz1994 can you apply these colors to the lab screen?
small: rgb( 10, 198, 157 )
medium: rgb( 9, 19, 174 )
large:  rgb( 195, 51, 115 )

[2018-10-18 22:54] arouinfar opened #24 "Add Next-Lab to credits"
Similar to https://github.com/phetsims/energy-forms-and-changes/issues/50, we should add our collaborators at Next-Lab to the credits.

@Denz1994 please add this to the end of the team section:
and in cooperation with the Next-Lab project

[2018-10-18 22:58] arouinfar opened #25 "Make mass slider thumb snappy"
To create more easily reproducible experiments, we decided that the thumb of the mass slider should snap in increments of 10 g. Tweakers will still adjust the value by 1 g. (This behavior would be similar to the Length and Mass sliders in Pendulum Lab.)

@Denz1994 this would apply to both MAS and MASB.

[2018-10-18 23:00] arouinfar opened #26 "Change "Spring Stiffness" to "Spring Strength""
As discussed in today's design meeting, we'd like to change "Spring Stiffness" to "Spring Strength".  Spring Strength still conveys the meaning of spring constant, but avoids potential snickering in middle school classrooms.

[2018-10-18 23:03] arouinfar opened #27 "Increase size of Mass & Spring Strength panels"
In design meeting, the team thought the Mass panel felt a bit small. Since MASB has a bit more open space, we have the room to make the panel a bit larger. For balance, let's also increase the String Strength panels so they maintain the same height as the Mass panel.

@Denz1994 let's start with a 10% increase.

[2018-10-18 23:06] arouinfar opened #28 "Reorganize panel on Lab Screen"
@Denz1994 please move the Period Trace below the horizontal separator.

<img width="213" alt="screen shot 2018-10-18 at 5 05 04 pm" src="https://user-images.githubusercontent.com/8419308/47189067-060c6c80-d2f8-11e8-96d1-415dd0afbabe.png">

The bottom group of checkboxes will all also turn on the "Center of Oscillation" line (see #29).

[2018-10-18 23:18] arouinfar opened #29 "Add Center of Oscillation Line"
In design meeting, @kathy-phet brought up the point that it's handy to have a reference point for the COM when the vectors are turned on.

In MAS, the Natural Length and Equilibrium Position are replaced by the Displacement vector and Mass Equilibrium, in screens with vector representations. The Displacement is a bit too advanced for MASB, so we would instead like to add a "Center of Oscillation"

[2018-10-18 23:22] arouinfar opened #30 "Center Period Trace about Mass Equilibrium"
In #16 we shifted the Period Trace to be centered about the Resting Position. However, given that we will be adding the Mass Equilibrium (in the form of the Center of Oscillation #29) to the Lab screen, the Period Trace should be shifted back.

@Denz1994 I think this essentially amounts to undoing the commits for #16.

[2018-10-19 18:42] Denz1994 commented on #26
The above change has been applied. @arouinfar Please review master for the above commit.

[2018-10-19 19:48] Denz1994 commented on #28
Period trace option removed from LineOptionsNode.js and into VectorVisibilityControlNode.js. Also, the option for `enablePeriodTrace` has been removed from instances of LineOptionsNode.

[2018-10-19 19:52] Denz1994 commented on #28
This should be reviewed in both basics and non-basics versions @arouinfar. Assigning to you for review.

[2018-10-19 20:04] arouinfar commented on #26
👍

[2018-10-19 20:05] arouinfar commented on #28
Looks good, thanks @Denz1994!

[2018-10-19 20:05] #28 closed

[2018-10-19 20:35] Denz1994 commented on #25
An option for `contrainValue` has been applied to the Number Control in `MassValueControlPanel.js`. The slider now snaps by increments of 10 when using the slider and increments of 1 when using the tweakers.

This behavior is applied to both versions of the sim and should be reviewed in master @arouinfar. Reassigning.

[2018-10-19 20:43] Denz1994 commented on #24
`and in cooperation with the Next-Lab project` has been added to the team section of the credits. The credits still need to be corrected so I will make a new issue for this.

Leaving to @arouinfar to close.

[2018-10-19 20:45] Denz1994 opened #31 "Add Credits"
This issue should be used to track changes to credits. This should be addressed after dev testing.

[2018-10-19 20:46] Denz1994 commented on #24
Issue #31 has been created for credit changes tracking.

[2018-10-19 21:34] arouinfar commented on #24
👍

[2018-10-19 21:34] #24 closed

[2018-10-19 23:16] arouinfar commented on #25
Looks great!!

[2018-10-19 23:16] #25 closed

[2018-10-22 15:15] KatieWoe opened #32 "CT: Assertion failed"
[code]

[2018-10-23 18:06] Denz1994 commented on #27
I've increased the scaling on the MassValueControlPanel and the SpringConstantControlPanel on the Lab Screen. The other screens in both MASB and MAS haven't been adjusted. This is a good point to get feedback from @arouinfar.

Should we increase the tweaker size on the MassValueControlPanel? What do you think about the thumb size on the sliders? Assigning to @arouinfar for input.

[2018-10-23 21:20] arouinfar commented on #27
@Denz1994 the panel is looking pretty big to  me. Can we drop it down to a 5% increase?

I think the relative thumb and tweaker sizes are just fine, so I wouldn't make any adjustments there.

Also, the Spring Strength panel should have the same height as the Mass panel, but it's currently looking a bit off.
![image](https://user-images.githubusercontent.com/8419308/47391144-41cb7b80-d6d6-11e8-825f

[2018-10-24 16:00] arouinfar opened #33 "Update Lab screen icon"
Since the masses on the Lab screen will have different colors (#20), I've updated the icon for the Lab screen. @Denz1994 you can find the updated assets temporarily stored in the MASB design folder:
https://drive.google.com/drive/u/0/folders/1SoF-G10U3el0ctR_9Qb8ncdNY2yvhVco

[2018-10-25 13:58] Denz1994 commented on #30
The above change has been made to center the period trace around the mass equilibrium. Leaving to @arouinfar to close.

[2018-10-25 14:06] Denz1994 commented on #33
The lab icon and assets file has been updated. Leaving to @arouinfar to close.

[2018-10-25 14:22] Denz1994 commented on #27
The panels have been adjusted slightly. What do you think about master @arouinfar?

[2018-10-25 14:49] arouinfar commented on #33
Looks good! Thanks @Denz1994.

[2018-10-25 14:49] #33 closed

[2018-10-25 14:57] arouinfar commented on #27
The bottom alignment looks correct @Denz1994.
![image](https://user-images.githubusercontent.com/8419308/47509529-86205e00-d833-11e8-8802-1c36cd9a5862.png)

The Mass panel looks about the same size as before (bottom), just a bit narrower (top). Did you scale it back to 5% larger than MAS?
![image](https://user-images.githubusercontent.com/8419308/47509643-c41d8200-d833-11e8-8298-f05bfc196ede.png)

[2018-10-25 14:57] arouinfar commented on #30
Looks great!

[2018-10-25 14:57] #30 closed

[2018-10-25 15:19] Denz1994 commented on #27
I adjusted the yMargin initially, and that didn't scale the whole component. Instead the maxWidth has been adjusted and the spring strength panel has been adjusted to match as well. Can you check master @arouinfar?

[2018-10-25 16:11] arouinfar commented on #27
Looks great! All that's left is the Spring Strength panel heights on the first two screens @Denz1994.

[2018-10-26 01:15] Denz1994 commented on #27
The panels on the Stretch and Bounce screen have been expanded. Master can now be reviewed @arouinfar.

[2018-10-26 01:32] Denz1994 commented on #20
The lab mass colors have been updated. Leaving to @arouinfar to close.

[2018-10-26 02:51] arouinfar commented on #20
The Lab screen looks beautiful, but I think you inadvertently applied the change to the small and medium mystery masses on the first two screens.
![image](https://user-images.githubusercontent.com/8419308/47541721-98cc7e80-d897-11e8-9427-c8ab7ab85d02.png)

Stretch and Bounce should look like this:
![image](https://user-images.githubusercontent.com/8419308/47541754-ba2d6a80-d897-11e8-86f1-93dfd6d65

[2018-10-26 02:52] arouinfar commented on #27
Looks good!

[2018-10-26 02:52] #27 closed

[2018-10-26 14:49] KatieWoe opened #34 "CT: failure to grunt"
[code]
May be connected to https://github.com/phetsims/masses-and-springs/issues/337

[2018-10-26 16:05] Denz1994 commented on #20
Great catch. Can you check master now @arouinfar?

[2018-10-26 16:12] Denz1994 commented on #34
This should have been fixed by https://github.com/phetsims/masses-and-springs/commit/a66358418c86019f9ccbdebebd486da1a60040da.

[2018-10-26 16:12] #34 closed

[2018-10-26 16:13] arouinfar commented on #20
Looks good @Denz1994!

[2018-10-26 16:13] #20 closed

[2018-10-26 17:37] arouinfar commented on #29
Thanks @Denz1994. I noticed that the label is a bit far from the line itself.
![image](https://user-images.githubusercontent.com/8419308/47583036-6bbdb180-d913-11e8-9aba-7f9c15452a9d.png)
![image](https://user-images.githubusercontent.com/8419308/47583046-75dfb000-d913-11e8-8be5-1290499d1c4a.png)

Can you shift the strings to the left a bit so that the spacing is closer to that in the published ve

[2018-10-26 20:36] arouinfar commented on #29
Looks good!

[2018-10-26 20:36] #29 closed

[2018-10-31 13:16] Denz1994 commented on #18
@arouinfar We adjusted the size of the spring constant panels. Do we still want this pixel expansion, especially on Bounce and Stretch screens?

[2018-10-31 18:05] arouinfar commented on #18
Good point @Denz1994. This request was made before the spring constant panels were widened. Things are currently a bit tight:
![image](https://user-images.githubusercontent.com/8419308/47808923-292a1980-dd05-11e8-98af-c97df4ff5350.png)

Rather than expand the panel, could you extend the `maxWidth` so the strings get a bit closer to the icon? Currently, there's quite a bit of dead space between the

[2018-11-02 17:30] Denz1994 commented on #31
Credits have been updated, awaiting next dev release.

[2018-11-02 17:38] Denz1994 commented on #18
The maxWidth has been adjusted to allow for the labels to expand closer to their respective icon. Please review master in MAS and MASB @arouinfar.

[2018-11-06 21:38] KatieWoe opened #35 "CT: failure to grunt"
[code]

[2018-11-06 21:43] arouinfar commented on #18
Looks good @Denz1994!

[2018-11-06 21:43] #18 closed

[2018-11-06 22:00] Denz1994 commented on #35
CT has cleared up after these commits 5c09e70366f190134b29a9f1e16b17e579fecb42 and 7821fa60b96d3837ca69c0686ee1a327aa83a44a

[2018-11-06 22:00] #35 closed

[2018-11-12 14:17] Denz1994 commented on #32
Closing as described in https://github.com/phetsims/masses-and-springs/issues/336.

[2018-11-12 14:17] #32 closed

[2018-11-12 19:53] arouinfar commented on #10
For https://github.com/phetsims/QA/issues/220

Looks like this was undone somewhere between dev.9 and dev.10.

dev.9
![image](https://user-images.githubusercontent.com/8419308/48371523-59fd3d80-e679-11e8-9e7d-cd5a4c9071ba.png)

dev.10 and dev.11
![image](https://user-images.githubusercontent.com/8419308/48371773-ead41900-e679-11e8-8bda-fad4e2816078.png)

[2018-11-13 17:15] Denz1994 commented on #10
Just pushed a fix @arouinfar. Please confirm in master.

[2018-11-13 21:17] arouinfar commented on #10
Looks good!

[2018-11-13 21:17] #10 closed

[2018-11-14 23:40] KatieWoe opened #36 "Timer node stops early"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/220
The timer node stops at 01:39.99 and it should go to 99:99.99
**Steps to reproduce:**
1. Go to the Bounce screen
2. Start the timer and let it run until it stops

**Screenshots:**
![bug time](https://user-images.githubusercontent.com/41024075/48519900

[2018-11-15 00:41] Denz1994 commented on #36
I was able to reproduce this same bug with the `TimerNode` in WOAS, MAS, Pendulum Lab, and CLB. This may be a potential issue in TimerNode.js or TimerNodeReadout.js.

Investigating.

[2018-11-15 00:46] arouinfar commented on #36
@Denz1994 I think in working on wave-interference @samreid introduced a `maxValue` option to TimerNode, which might be relevant here.

[2018-11-15 01:29] Denz1994 commented on #36
`maxValue` was introduced  https://github.com/phetsims/scenery-phet/commit/d6f4660e7488d1ee6754d56e01878d0605bf233a and the default value has always been `maxValue: 99.99`. The max value is measured in seconds, so the timer stops at 1:39.99. I don't know why this hasn't been caught before, but the issue seems to be the default value is too small.

I have increased the default to `maxValue: 5940` o

[2018-11-15 15:36] KatieWoe commented on #36
Sorry this wasn't caught before.  Would this need a maintenance release for any previous sims?

[2018-11-15 16:37] arouinfar commented on #36
@KatieWoe it's unlikely that this issue exists in other published sims, since `maxValue` wasn't introduced until after the 1.0 publication dates. I think @Denz1994 only found the issue in master, but it would be good to double check.

[2018-11-15 16:45] KatieWoe commented on #36
Just tested Masses and Springs, which is the latest published with timer node that I can recall at the moment, and I got to 2+ just fine.

[2018-11-15 18:44] lmulhall-phet opened #37 "Accordion panel not clickable, cursor doesn't change to hand"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14

**Browser**

Chrome 70.0.3538.102

**Problem Description**

See the title and the gif.

**Steps to Reproduce**

1. Lab screen.
2. Try to click the accordion panel anywhere other than on the plus symbol.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/48574198-c4a5b780-e8cb-11e8-8308-d3ee0b045875.gif)

<detai

[2018-11-15 19:06] KatieWoe commented on #37
@Denz1994 This also occurs in the published version of Masses and Springs.

[2018-11-16 17:58] JRomero0613 commented on #37
This also occurs on Windows 10 version, seems to occur for all devices.

[2018-11-16 18:15] JRomero0613 opened #38 "Stretch Screen Design Notes"
When testing for https://github.com/phetsims/QA/issues/220 there are some small design notes I have that might improve with student understanding. The first one is the lack of a timer on the stretch screen. It is weird to me that all other masses and springs screens have a timer but not this screen, however this does not take away much of the functionality or content. The other improvement suggest

[2018-11-16 18:38] Denz1994 commented on #38
This is a design discussion so I'm assigning @arouinfar to offer input.

[2018-11-16 19:22] lmulhall-phet opened #39 "Stretching spring a lot results in glitchy masses, glitchy spring"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14

**Browser**

Safari 12.0

**Problem Description**

If you stretch the spring out by adjusting the spring strength at well-timed intervals, you can see some glitchiness (see the gif) in the masses and the spring itself. Not a normal use case, but I thought I'd document it anyway.

@arouinfar, aren't we exceeding the elastic limit of t

[2018-11-16 21:07] KatieWoe opened #40 "Performance Edge Stretch and Bounce"
Test device:
Dell Laptop
Operating System:
Win 10
Browser:
Edge
Problem description:
For https://github.com/phetsims/QA/issues/220.  Seems to be the same issue as https://github.com/phetsims/masses-and-springs/issues/312.
The performance when dragging a mass, ruler, or slider on the stretch or bounce screen is poor.  The mass trails noticeably behind the mouse.  Making the window smaller improves

[2018-11-16 22:17] KatieWoe opened #41 "Center of Oscillation line appears when not intended"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Internet Explorer and Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/220
When Resting Position is selected on the lab screen, the Center of Oscillation line appears as well.  The text does not appear, but the line does.  It doesn't occur on the other screens.  According to @arouinfar on Slack the line

[2018-11-16 22:41] arouinfar commented on #41
Good catch @KatieWoe! Looks like a bug to me @Denz1994.

[2018-11-16 22:42] rea-laura opened #42 "Period tracer line inhibits grabbing mass slider"
<b>Test Device</b>

Personal Laptop

<b>Operating System</b>

Windows 10 Version 10.0.17134 Build 17134

<b>Browser</b>

Chrome 70.0.3538.102
Firefox Quantum 63.0.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/220:
When period tracer line covers mass slider, the slider is harder to grab. Also found in the published Masses and Springs.

<b>Steps to Reproduce</b>

1) open s

[2018-11-16 23:02] arouinfar commented on #42
Nice catch @rea-laura!

When the Period Trace is layered over the slider thumb, the thumb is no longer pickable (cursor is an arrow, not a hand), even when trying to click between the lines.

The mass's oscillation has to be pretty wild for the Period Trace to cover the Mass panel, and at least part of the trace is likely off-screen in such a case. Here, the Period Trace is not all that pedagogica

[2018-11-16 23:06] arouinfar commented on #40
@ariel-phet decided to defer this issue while MAS was in RC testing, [noting](https://github.com/phetsims/masses-and-springs/issues/312#issuecomment-413325300):

@ariel-phet should this still be deferred, or should @Denz1994 revisit for MASB/MAS redeploy?

[2018-11-16 23:14] arouinfar commented on #39
What a find @lmulhall-phet!

I haven't been able to reproduce the behavior in the .gif, even when toggling the spring strength at the seemingly-opportune moment. Have you been able to reproduce on any other platforms?

Definitely, so this isn't the most pedagogically useful scenario.

Regardless, the glitchy SpringNode is quite odd, and looks pretty buggy. It would be nice if we could track down/a

[2018-11-16 23:39] KatieWoe opened #43 "Teleporting ruler safari"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/220
When leaving Safari on the iPad, it is possible for the ruler on the Stretch screen to return to its start position without input.
**Steps to reproduce**
1. On an iPad with Safari, go to the Stretch screen
2. Move the ruler to a noticeably different location
3. Press the Hom

[2018-11-16 23:42] arouinfar commented on #43
@KatieWoe mentioned that the ruler only teleports on the first screen, which does not have a toolbox. In the video it looks like the ruler is returning to its "home" position.

[2018-11-19 16:41] Denz1994 commented on #41
The massEquilibriumLineNode is now conditionally added in basics and non-basics version. A fix was pushed to master and can be tested in next dev release.

[2018-11-19 17:06] Denz1994 commented on #43
This looks like a side effect of the current behavior of floating draggable objects. Currently, the ruler node gets set back to its home position as described by @arouinfar above. Fix pending.

[2018-11-19 17:34] Denz1994 commented on #43
The ruler node no longer resets its position when intersecting the layout bounds. I will post a new dev version for verification, but it can be reviewed in master.

[2018-11-19 17:47] Denz1994 commented on #39
I wasn't able to reproduce this behavior as well. I guess I couldn't find the right interval, but this is eerily similar to https://github.com/phetsims/masses-and-springs/issues/170. The previous concensus was that this behavior isn't technically breaking the sim and is an extreme scenario that can be "simulated." This would break the elastic limit of a spring, but there isn't anything stopping us

[2018-11-19 17:53] ariel-phet commented on #40
@Denz1994 @arouinfar I am still not seeing this as a "major" issue. Considering JO is on vacation currently, and most people need to consult with him for performance improvements, I would just press ahead.

However, I do think learning to troubleshoot performance issues is a useful experience, so I am going to mark this as low priority and leave assigned to Denzell.

@Denz1994 this issue should NO

[2018-11-19 18:00] arouinfar commented on #39
@Denz1994 while I agree that this issue stems from the interaction pattern in https://github.com/phetsims/masses-and-springs/issues/170, it seems a bit different. Here, the SpringNode is not being properly drawn.

That said, since you and I were not able to reproduce, I would like to hear a bit more from @lmulhall-phet. Are you able to reproduce this on other platforms?

[2018-11-19 18:40] Denz1994 commented on #42
I have pushed a fix to master that should have corrected this behavior in both MASB and MAS. I will push a new dev version for verification, but this change should be included in the next maintenance release of MAS.

[2018-11-19 18:47] Denz1994 commented on #37
@KatieWoe Just for clarity, I believe you are referring to the Energy Graph in Masses and Springs. Is that correct?

[2018-11-19 18:49] KatieWoe commented on #37
@Denz1994 yes

[2018-11-19 19:37] KatieWoe opened #44 "X-axis forgiveness"
For https://github.com/phetsims/QA/issues/220
Design question.  When dragging masses on the springs down I've often had the masses come off the spring.  I know there is a balance between making sure the mass stays on when wanted and comes off when wanted, but I was wondering if keeping the mass on the spring for a little bit more of the x direction might feel better.

[2018-11-19 19:41] Denz1994 commented on #44
This the `RELEASE_DISTANCE` can be adjusted fairly easily, so I will leave this up to @arouinfar to review and determine if adjustments need to be made.

[2018-11-19 19:58] arouinfar commented on #44
@Denz1994 let's bump `RELEASE_DISTANCE` up to 0.12.

[2018-11-19 20:02] Denz1994 commented on #44
The `RELEASE_DISTANCE` has been increased. This will affect MAS and MASB so it should be reviewed in both sims. This change should be included in the next MAS maintance release.

[2018-11-19 20:11] Denz1994 opened #45 "ResetAllButton touch areas should be expanded"
This issue was opened to https://github.com/phetsims/QA/issues/220#issuecomment-439101227. This issue will be used for verification from QA in next dev release.

[2018-11-19 20:13] Denz1994 commented on #45
This commit has affected both MAS and MASB and should be included in the next maintenance release of MAS.

[2018-11-19 20:14] arouinfar commented on #44
Looks good to me @Denz1994!

@KatieWoe, how's master feeling to you?

[2018-11-19 20:15] KatieWoe commented on #44
I think it feels better.  Give me a chance to check on iPad really quick.

[2018-11-19 20:29] Denz1994 commented on #43
Starting the sim in a very wide screen causes the ruler to start in the middle of the screen, which seems less than ideal. Fix pending.

![image](https://user-images.githubusercontent.com/13894380/48733219-f1c9d100-ec0f-11e8-90c9-d4cdd9fb78fe.png)

[2018-11-20 16:19] Denz1994 commented on #43
A pushed a fix to master that causes the ruler to initialized beneath the options panel. The current behavior should be reviewed in master @arouinfar.

[2018-11-20 19:34] arouinfar commented on #43
@Denz1994 opening master with a wide aspect ratio, still looks like the screenshot in https://github.com/phetsims/masses-and-springs-basics/issues/43#issuecomment-440031328. However, I think this is preferable, because the ruler is in closer proximity to the thing it's meant to measure (spring).

As for the teleporting, I'll leave it up to @KatieWoe to check on an iPad.

[2018-11-20 19:45] KatieWoe commented on #43
I think that the behavior on iPad looks good.

[2018-11-20 21:58] Denz1994 commented on #44
I'll keep the increase to the `RELEASE_DISTANCE`. I've run into similar problems with accidentally removing a mass when fully extending the spring. Thanks for the input @KatieWoe.

This change should also be included in the next Masses and Springs maintenance release and will mark as such.

[2018-11-20 22:16] Denz1994 commented on #45
Can you test if this change is acceptable in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.12/phet/masses-and-springs-basics_all_phet.html) @KatieWoe? If all looks good please reassign to me.

[2018-11-20 22:17] Denz1994 commented on #42
Can you test if this change is acceptable in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.12/phet/masses-and-springs-basics_all_phet.html) @KatieWoe? If all looks good please reassign to me.

[2018-11-20 22:18] Denz1994 commented on #41
Can you test if this change is acceptable in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.12/phet/masses-and-springs-basics_all_phet.html) @KatieWoe? If all looks good please reassign to me.

[2018-11-20 22:21] Denz1994 commented on #36
@arouinfar is correct about this not afffecting other sims. `maxValue` is a fairly recent addition.

Can you test if this change is acceptable in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.12/phet/masses-and-springs-basics_all_phet.html) @KatieWoe? If all looks good please reassign to me.

[2018-11-20 22:32] KatieWoe commented on #36
Has gone past previous time it stopped at.  Will let run on another screen to see if any other problems are encountered.

[2018-11-20 22:34] KatieWoe commented on #41
Looks good.

[2018-11-20 22:38] KatieWoe commented on #42
Looks good

[2018-11-20 22:49] KatieWoe commented on #36
I have noticed the numbers twitching every few seconds.
![twitchtime](https://user-images.githubusercontent.com/41024075/48807786-e17f2800-ecdb-11e8-8072-e30447286c9f.gif)

[2018-11-20 23:07] arouinfar commented on #36
@KatieWoe I'm pretty sure the "twitching" is just a natural consequence of 1's having a smaller width than other numbers. That's not something we can/should address.

[2018-11-20 23:39] KatieWoe commented on #36
Timer node now seems to start over at some point, rather than stopping at a max value.  This image is from the same session as above.  It was at about 50 min the last time I had checked.  I can't be sure of the exact time when the change occurred unfortunately, as I had it running in the background at the time.
![wrap](https://user-images.githubusercontent.com/41024075/48809676-d5e32f80-ece2-11e8-

[2018-11-21 00:11] Denz1994 commented on #41
Closing this issue.

[2018-11-21 00:11] #41 closed

[2018-11-21 00:15] Denz1994 commented on #36
Hey, great catch @KatieWoe. I'll be doing some memory test tomorrow, which will involve letting the sim run for a while. I'll try to catch this bug during those tests.

[2018-11-22 21:06] lmulhall-phet commented on #39
@arouinfar, I am able to reproduce on other browsers + macOS. I'll try to reproduce on other OS's.

[2018-12-04 18:08] Denz1994 commented on #42
This fix should also be applied to MAS on next maintenance release.

[2018-12-11 19:16] Denz1994 commented on #36
The minute's section of the timer node readout goes from 00-59, then it resets back to 00. The timer only measures one hour before resetting. However, the readout is the only thing that resets and the affiliated property or button state is left unchanged. I changed default time to stop at 59:59.99.

@arouinfar do you think this stopping point is okay? For the timer to reach a stopping point of 99:

[2018-12-12 16:42] Denz1994 commented on #40
I think we can get away with reducing the amount of `pointsPerLoop` for each coil in the spring. I reduced it by 12 points per coil, so that should reduce the amount of `numberOfCoilPoints` that need to be calculated when the `xScaleProperty` changes.

The drawback is the springs may look negligibly more rigid. Can you confirm that this is acceptable @arouinfar?

[2018-12-12 17:03] Denz1994 commented on #40
Note: Above change should only affect oscillating masses.

[2018-12-13 17:43] arouinfar commented on #40
@Denz1994 the oscillating springs in dev.11 and master look equally smooth to me!

[2018-12-13 17:47] arouinfar commented on #36
@Denz1994 59:59.99 would be the appropriate stopping point! I didn't account for the differences in the mm:ss notation used here, so 99:99.99 was an error on my part. :)

Is 59:59.99 the default `maxValue` for this flavor of TimerNode? Or is it MAS(B)-specific? Seems like a reasonable default `maxValue` for all instances of TimerNode (using the 00:00.00 display).

[2018-12-13 18:10] Denz1994 commented on #40
Great, I'll take a similar approach to the massNodes and reassign for comparison.

[2018-12-17 21:03] Denz1994 commented on #37
`ClosestDragListener`  instances were being added to the screenView, causing the `Text` in the accordion boxes to be hit before the invisible `Rectangle` layered over the title node. The listeners should be added to the `Plane` in the screenView.

AccordionBox doesn't handle added listeners to parents very well and children are made pickable as a side effect (hence the `Text` being hit).

This beh

[2018-12-17 21:16] KatieWoe commented on #37
Looks good in master.  @Denz1994 do you want this closed?

[2018-12-19 00:41] Denz1994 commented on #36
The default value maxValue for TimerNode has been changed to read 59:59.99  as in the comment above. It looks like we can close this issue.

[2018-12-19 00:53] Denz1994 commented on #40
MassNodes have been optimitzed in https://github.com/phetsims/masses-and-springs/commit/6c3904f as a part of https://github.com/phetsims/masses-and-springs/issues/312. It is good to note that the same bahavior is in this sim, but I'll defer to the same conclusion in https://github.com/phetsims/masses-and-springs/issues/312#issuecomment-413325300.

[2018-12-20 19:40] KatieWoe opened #46 "Reset All on Stretch Screen"
**Test device:**
Dell and Chromebook
**Operating System:**
Win 10 and ChromeOS
**Browser:**
Chrome and Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/241
Two changes were noted after hitting reset all on the stretch screen.  One major and one minor.  The minor issue is that the ruler moves to a different starting location.  The major issue is that the damping on the spr

[2018-12-20 19:52] arouinfar opened #47 "[Stretch Screen] Ruler not floating on startup"
For https://github.com/phetsims/QA/issues/241, and discovered in #46.

On startup, the ruler on the Stretch screen should be right-aligned with the panel above it. When the window is at a wider aspect ratio than `?dev` the ruler and panel both float. The panel is correctly floating on startup, but the ruler is not (left). Pressing the resetAllButton will properly re-align the ruler with the panel

[2018-12-20 19:54] arouinfar commented on #46
Thanks @KatieWoe.  For the ruler, I believe the culprit is that its startup position is incorrect, but resetAll corrects the placement. I've moved that issue to #47.

[2019-01-02 16:31] Denz1994 commented on #46
The reset listener was setting the `model.dampingProperty` to zero on reset. We want this screen to have non-zero damping. @KatieWoe please confirm this is fixed in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-dev.16/phet/masses-and-springs-basics_en_phet.html).

[2019-01-02 16:36] KatieWoe commented on #46
@Denz1994 seems fixed in the linked dev version.

[2019-01-02 16:50] Denz1994 commented on #46
Nice. I'll close this issue then. The ruler issue will be addressed in #47.

[2019-01-02 16:50] #46 closed

[2019-01-02 18:47] arouinfar commented on #47
@Denz1994 the behavior in dev.16 looks good!

[2019-01-02 18:47] #47 closed

[2019-01-04 00:54] Denz1994 opened #48 "Code Review"
Notes to the Reviewer
=============

This sim inherits heavily from the model and view of Masses-And-Springs. It may be worth reading over the [implementation-notes.md](https://github.com/phetsims/masses-and-springs/blob/master/doc/implementation-notes.md) and [model.md](https://github.com/phetsims/masses-and-springs/blob/master/doc/model.md) from Masses-And-Springs until the docs are fleshed out

[2019-01-04 00:55] Denz1994 commented on #48
Assigning to @ariel-phet for prioritization and reviewer.

[2019-01-04 13:15] Denz1994 opened #49 "Update implementation-notes.md and model.md"
Created for #48.

It would be good to reference `masses-and-springs/doc` for the implementation-notes and model doc. Many of the features of masses-and-springs have been retracted, which should be listed in this implementation-notes.md.

Also, this doc should include the use of a boolean flag `basicsVersion` in the main model, `MassesAndSpringsModel.js` to differentiate the specifics for MASB. A C

[2019-01-04 13:22] Denz1994 commented on #31
Adding code-review label, so QA credits are updated if needed.

[2019-01-04 13:26] Denz1994 opened #50 "Memory Leak Testing"
Opening for #48.

Memory leak testing should be tracked and documented here. I will start a test and have the reviewer of #48 confirm memory leaks aren't present.

I expect results to be similar to https://github.com/phetsims/masses-and-springs/issues/339.

[2019-01-05 03:07] pixelzoom opened #51 "duplicated code for Gravity combo box"
Noted while working on https://github.com/phetsims/sun/issues/428#issuecomment-451622311.

Code that creates the items for the Gravity combo box is duplicated, see GravityAccordionBox and GravityAndDampingControlNode:

[code]

So I had to do the same work twice for https://github.com/phetsims/sun/issues/428.  Highly recommended to factor out GravityComboBox and use it in both sims.

[2019-01-07 18:09] Denz1994 commented on #51
`GravityComboBox.js` has been created to remove the code duplication. Any differences in the combo boxes prior to the refactor have been added to the options at the repo-specific call site. Also, some variables have had their exposure made private due to the above changes. Closing.

[2019-01-07 18:09] #51 closed

[2019-01-07 18:33] Denz1994 opened #52 "Use updated enumeration pattern"
As part of developer core hour meeting on 01/07/19:

From the `Enumerations` section of https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md, we should be using rich enumerations when appropriate. Using the `Object.freeze(Enumeration)` is a pattern we should move away from.

Quick scan: `ForcesModeChoice.js`, `SimSpeedChoice.js`, and `SceneModeChoice.js` should be

[2019-01-08 05:52] Denz1994 commented on #50
Testing on Windows 10 Chrome ( Version 71.0.3578.98 ) Incognito mode. Snapshots were taken with 15-20 intervals.

![image](https://user-images.githubusercontent.com/13894380/50811898-82eb2900-12de-11e9-8d7a-f9d20932de3a.png)

I will run another test on iOS to be thorough.

[2019-01-08 05:52] Denz1994 commented on #50
I will run another test on iOS to be thorough.

[2019-01-08 18:51] Denz1994 commented on #50
Testing on iOS (10.13.6) Chrome (71.0.3578.98) Incognito mode with 15-20 minute intervals between snapshots.

![image](https://user-images.githubusercontent.com/13894380/50852058-8a491b80-134c-11e9-8e6a-5ea0f5dd8988.png)

[2019-01-09 13:49] Denz1994 commented on #49
The pattern has been updated to use `Enumeration.js`. There is still ongoing discussion about how to best proceed with this convention in https://github.com/phetsims/phet-core/issues/53. I'll await the decision there before closing.

[2019-01-09 14:15] Denz1994 commented on #50
In a zoom discussion with @jonathanolson it was explained that there is a better process for memory leak testing.

_Process:_

1. fuzz a built version of the sim with `grunt --minify.mangle=false`
2. allow sim to run for a  bit
3. run phet.chipper.queryParameters.fuzz=false in console to pause sim
4. on each screen press resetAllButton (or setup sim in specific reproducible state)
5. take heap sna

[2019-01-09 14:17] Denz1994 commented on #52
The pattern has been updated to use Enumeration.js. There is still ongoing discussion about how to best proceed with this convention in phetsims/phet-core#53. I'll await the decision there before closing.

[2019-01-09 15:02] Denz1994 opened #53 "ResetAllButton doesn't close GravityAccordionBox"
Found during #50.

Pressing the resetAllButton on the Lab Screen doesn't close the GravityAccordion box.

[2019-01-09 15:19] Denz1994 commented on #49
Notes have been updated as needed. Closing.

[2019-01-09 15:19] #49 closed

[2019-01-09 16:01] Denz1994 commented on #53
The `GravityAccordionBox.expandedProperty` needed to be reset by the model. Fixed in above commits.

[2019-01-09 16:01] #53 closed

[2019-01-09 16:02] Denz1994 commented on #50
Testing on iOS (10.13.6) Chrome (71.0.3578.98) Incognito mode with 30 minute intervals between snapshots.

![image](https://user-images.githubusercontent.com/13894380/50911458-ecae2480-13fd-11e9-85aa-d3507046d31f.png)

The results are similar as above. There isn't anything here that stands out as a memory leak. Closing this issue. Thanks @jonathanolson for the input.

[2019-01-09 16:02] #50 closed

[2019-01-10 05:54] arouinfar commented on #38
The target audience of this sim is students in upper elementary/middle school. The Stretch screen is designed to facilitate learning goals related to Hooke's Law, while the Bounce screen focuses more on period/oscillations. For Hooke's Law, it's important for the oscillations to quickly die off so that students spend more time focusing on how far the spring stretches at equilibrium. To achieve thi

[2019-01-10 05:54] #38 closed

[2019-01-16 13:39] Denz1994 commented on #52
Enumerations updated as described in by doc convention. Closing issue.

[2019-01-16 13:39] #52 closed

[2019-02-01 20:00] Denz1994 commented on #48
Remaining review comments have been addressed and reviewed by @jonathanolson. Sim will move into RC testing as discussed in dev meeting on: 01/31/19 ([see here](https://github.com/phetsims/tasks/issues/986#issue-405756331)).

Closing.

[2019-02-01 20:00] #48 closed

[2019-02-06 16:31] arouinfar opened #54 "Teacher Tips"
For #1.

Given that we're now in RC (https://github.com/phetsims/QA/issues/281), I should start working on the Teacher Tips.

[2019-02-06 16:38] arouinfar opened #55 "LoL Icons/Descriptions"
For #1.

Given that we're now in RC (https://github.com/phetsims/QA/issues/281), I should start working on the LoL icons, etc.

MAS is already integrated into LoL, but it is a bit advanced for their targeted grade level (MS and lower) and is in the "Advanced Simulations" [category](https://app.legendsoflearning.com/teachers/v1/games/learning-objective/WyJsZWFybmluZ19vYmplY3RpdmVzIiwxNjkwXQ==).  No

[2019-02-06 16:40] arouinfar opened #56 "Create Sim Primer"
For #1.

We're now in RC, so it would be good to start drafting a sim primer draft. The script will likely reuse some teaching examples from the MAS primer.

- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption prime

[2019-02-11 23:34] arouinfar opened #57 "[Stretch Screen] ruler returns home when window dimensions change"
For https://github.com/phetsims/QA/issues/281, and likely related to #43 and/or #47.

When the browser window is resized, the ruler teleports to its home location. This is pretty jarring and unnecessary.

Steps to reproduce:
1. Open Stretch screen.
2. Move ruler anywhere in the play area (next to the spring, for example).
3. Resize browser window, and the ruler instantly jumps back to its "home" p

[2019-02-12 00:55] arouinfar commented on #54
Tips have been created and uploaded to Drive.

[2019-02-12 00:55] #54 closed

[2019-02-12 15:59] Denz1994 commented on #57
From https://github.com/phetsims/masses-and-springs-basics/issues/47#issuecomment-450911119:

Following response: https://github.com/phetsims/masses-and-springs-basics/issues/47#issuecomment-450948235

I think I misunderstood whether the ruler should float or not. The changes in #47 only makes the ruler initialize at the correct location on start up not during sim use. I'll make a fix to have the

[2019-02-12 16:54] KatieWoe opened #58 "Period Trace stops after it is complete when stepping through animation"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/281
When stepping through the animation of the mass bouncing on the lab screen, the trace stops drawing after a round is complete.  If there is no trace on the screen, or one is in the middle of being drawn, pausing and stepping through the animation appears no

[2019-02-12 16:59] phet-steele commented on #58
This sounds like https://github.com/phetsims/masses-and-springs/issues/269#issuecomment-391831669 (and the later comments) of which that issue was labeled "wont-fix".

[2019-02-12 17:04] KatieWoe commented on #58
Good catch.  I'd done a brief search for it, but must have used the wrong keywords.

[2019-02-12 17:06] KatieWoe commented on #58
As a reference.  These are the thin lines I mentioned in the issue.  First gif shows when using step through.  Second shows effect when moving at normal speed.

![thinperiodtrace](https://user-images.githubusercontent.com/41024075/52653659-a725c100-2ead-11e9-8889-857750e02e1d.gif)
![thinlinemoving](https://user-images.githubusercontent.com/41024075/52653663-aab94800-2ead-11e9-9419-24dfb6291893.gif

[2019-02-12 17:34] arouinfar commented on #57
@Denz1994 I don't think I caught this bit when reviewing #47. When reviewing, the test case didn't include the procedure described in https://github.com/phetsims/masses-and-springs-basics/issues/57#issue-409029937.

Desired flow:
* On startup or ResetAll, the ruler should be right-aligned with the reference line panel. This means the ruler will need to float with the panel at aspect ratios wider t

[2019-02-12 17:37] KatieWoe opened #59 "Short Strings are centered"
For https://github.com/phetsims/QA/issues/281
From slack:

![centered](https://user-images.githubusercontent.com/41024075/52655673-f3730000-2eb1-11e9-9df9-8199336fd5e4.jpg)

[2019-02-12 17:38] arouinfar commented on #59
It looks like the checkbox/icon group is centered in the panel. However, the checkboxes/strings should remain on the left side of the panel, and the icons should remain on the right side of the panel. Making the strings very short should result in a larger gap between the string and icon.

[2019-02-12 17:41] Denz1994 commented on #59
The fix for the checkbox described above should be applied to all checkbox items. This includes `VectorVisibilityControlNode` and `IndicatorVisibilityControlNode` for both basics and non-basics versions.

[2019-02-12 17:45] arouinfar commented on #58
Nice catch @KatieWoe, and thanks for linking the older issue @phet-steele.

I generally agree with @ariel-phet's decision in https://github.com/phetsims/masses-and-springs/issues/269#issuecomment-392220672. However, I also think it can look a bit buggy when damping is thrown into the mix.

@Denz1994 would it be possible to instead simply clear the period trace after it had been stepped through? We

[2019-02-12 21:57] KatieWoe opened #60 "Pointer Area Overlap of mass adjuster"
For https://github.com/phetsims/QA/issues/281
This overlap of the mass adjustment slider and button can lead to the wrong object being selected, but it hasn't caused many problems unless I was trying.
![71ac1050-83c3-42d9-b8d4-7cb4e9bd92a4](https://user-images.githubusercontent.com/41024075/52670713-7f971e80-2ed6-11e9-91bf-8c450a6be378.png)

[2019-02-12 22:06] arouinfar commented on #60
@Denz1994 while you're adjusting the x-dilation on the mass slider thumb, you may also want to reduce the y-dilation on the gravity slider thumb so it doesn't overlap the combobox.

![image](https://user-images.githubusercontent.com/8419308/52671259-cd605680-2ed7-11e9-836a-327d9405911e.png)

[2019-02-13 18:54] Denz1994 commented on #57
A draggedProperty has been added to the `DraggableRulerNode`. It acts as a flag to determine when the ruler should float or not. This should be verified in the next RC version.

[2019-02-13 18:59] Denz1994 commented on #57
Because MAS is a dependency of MASB, we have to treat it as a "common code" repo when patching according to the "Manual Maintanance Patching" section in https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md .

Consequently, the masses-and-springs-1.0 branch has been created in the MAS repo to manage these changes. Relevent changes from that branch should be cherry-picked

[2019-02-13 20:03] Denz1994 commented on #60
`touchAreaXDilation` and `touchAreaYDilation` were adjusted for the gravity and mass value sliders. I will push another RC for verification/review.

[2019-02-13 20:03] Denz1994 commented on #60
These changes should be cherry-picked into master at the next maintenance release of MAS

[2019-02-15 17:34] arouinfar opened #61 "[Lab Screen] Movable Line position doesn't reset on ResetAll"
For https://github.com/phetsims/QA/issues/281

The Movable Line remembers its position, which can be helpful. However, it is not properly resetting when ResetAll is used. This bug is only present on the Lab screen.

To reproduce:

1. On startup, open Lab.
2. Turn on Movable Line, drag it to the bottom of the screen.
3. Reset all.
4. Turn Movable Line back on, and it will appear at the bottom of th

[2019-02-15 18:12] arouinfar commented on #56
Script has been drafted. Marking as `status:on-hold` until the Coulomb's Law primer has been re-recorded.

[2019-02-15 18:17] arouinfar commented on #61
I tested master and latest MAS, and the bug is not present there.

[2019-02-15 21:34] arouinfar opened #62 "Screenshots"
For https://github.com/phetsims/QA/issues/281 and #1.

Screenshots to be committed.
![masses-and-springs-basics-screenshot](https://user-images.githubusercontent.com/8419308/52885502-b49dae00-312e-11e9-8a77-300cb9eefb47.png)
![masses-and-springs-basics-screenshot-alt1](https://user-images.githubusercontent.com/8419308/52885508-b7000800-312e-11e9-93e5-ce25ae3cb687.png)
![masses-and-springs-basics-s

[2019-02-15 21:37] arouinfar commented on #62
Screenshots have been committed, closing.

[2019-02-15 21:37] #62 closed

[2019-02-15 23:11] arouinfar commented on #55
LoL icons and descriptions are ready.

[2019-02-15 23:11] #55 closed

[2019-02-19 17:06] Denz1994 commented on #61
Master has been corrected by adding a listener to the `ResetAllButton`. This commit has been `cherry-picked` into the 1.0 branch as well. I'll leave open for verification for the next RC test.

In the meantime, the fix can be verified in master @arouinfar. Assigning @arouinfar to ensure things are looking good.

[2019-02-19 17:17] arouinfar commented on #61
Looks good in master @Denz1994

[2019-02-25 20:40] pixelzoom commented on #36
Reopening.  I encountered this while working on gas-properties, and it needs some more documentation.  The current value and doc is:

[code]

This value is not "59 minutes and 59 seconds".  It's "59 minutes, 59 seconds, and 99/100 seconds", expressed in seconds.   And it was apparently chosen because the timer is not capable of showing any quantity larger than minutes.   I'll update the doc.

[2019-02-25 20:55] pixelzoom commented on #36
@Denz1994 please review the above commit to verify that the doc is correct.

[2019-02-26 18:34] Denz1994 commented on #36
The added doc is more comprehensive and describes why this value was chosen. Thanks for the update. Closing.

[2019-02-26 18:34] #36 closed

[2019-02-26 22:46] KatieWoe commented on #59
And the Gravity string seems a bit short @arouinfar
![longer](https://user-images.githubusercontent.com/41024075/53452122-b2b0d600-39dd-11e9-9230-2db8b32407cc.jpg)

[2019-02-27 22:04] arouinfar opened #63 "Gravity maxWidth is too small"
Discovered by @KatieWoe in https://github.com/phetsims/masses-and-springs-basics/issues/59#issuecomment-467646519 for https://github.com/phetsims/QA/issues/281

The maxWidth of "Gravity" should be much longer, extending almost the whole way across the comboBox.

@Denz1994 here's a rough mockup showing the desired maxWidth (magenta line).
![image](https://user-images.githubusercontent.com/8419308/5

[2019-02-27 22:06] arouinfar commented on #59
Thanks @KatieWoe, since this is a maxWidth issue, and not really related to `?stringTest=x`, I've moved https://github.com/phetsims/masses-and-springs-basics/issues/59#issuecomment-467646519 to #63.

[2019-03-01 14:33] Denz1994 commented on #63
_Note to self_

`GravityAccordionBox` doesn't need the whole model. We should only be passing in the `model.bodyProperty` and the `model.gravityProperty`. I'll make a seperate issue.

[2019-03-01 14:43] Denz1994 commented on #63
Fix applied in above commit. This should be cherry-picked into master and verified during next RC test.

[2019-03-01 14:46] Denz1994 opened #64 "GravityAccordionBox requires model"
Comment [here](https://github.com/phetsims/masses-and-springs-basics/issues/63#issuecomment-468684163) sums up initial thoughts.

This will add one more argument to the constructor.

[2019-03-01 14:58] Denz1994 commented on #64
The commit above cleared things up. This should also be included in the RC branch.

[2019-03-01 15:06] Denz1994 commented on #63
Commit has been cherry-picked into the RC branch. Awaiting verification.

[2019-03-01 15:14] Denz1994 commented on #64
Fix cherry-picked into the RC branch. Awaiting verification.

[2019-03-04 18:42] Denz1994 commented on #58
Pros: Resolves the buggy looking behavior. Once manually stepped, via step forward button, the period trace state is reset and disappears.

Cons: Lose the ability to follow a period trace via stepping manually. This may not be an intention based on this [comment](https://github.com/phetsims/masses-and-springs/issues/269#issuecomment-392220672)

Vetoing. This would require more refactoring to the s

[2019-03-05 21:17] arouinfar commented on #58
@Denz1994 I reviewed master, and the behavior isn't quite what I was envisioning.  When stepping through, the period trace should continue to draw until completed, and once completed it would clear.

Here are the test cases I used:

Case 1
1. Pause while period trace is partially drawn.
2. Step forward, and the period trace clears immediately instead of continuing to draw.

Case 2
1. Pause before

[2019-03-07 15:43] Denz1994 commented on #58
I see. The behavior has been modified. Now, stepping manually clears the period trace after a cycle has been completed. If the user continues stepping manually the period trace will redraw itself normally and clear after a cycle.

Note that the period trace clears immediately and doesn't fade because the sim must be paused when stepping manually. It would require a workaround to add this feature.

[2019-03-07 21:29] arouinfar commented on #58
Looks great in master, thanks @Denz1994!

[2019-03-08 17:00] Denz1994 commented on #59
Only vectors panel has been updated with some logic to assign a spacing dynamically, based on the content of the panel. Before I apply these changes elsewhere and continue with refactors, could you please review the behavior of this panel with the arrow vectors on master @arouinfar.

Here is what the vector panel looks like with `stringTest=x`:
![image](https://user-images.githubusercontent.com/13

[2019-03-08 17:02] Denz1994 commented on #59
Note that the original panel described in https://github.com/phetsims/masses-and-springs-basics/issues/59#issue-409418640 should be applied to the vector panel as well, so it is safe to review both.

[2019-03-11 16:20] arouinfar commented on #59
@Denz1994 the vector panel has the desired alignment with `?stringTest=x`. Ideally, the reference line checkboxes would be left aligned with the vector checkboxes, and the reference line icons would be right-aligned with the vector icons.

Currently, the reference line checkboxes are still centered in master.

[2019-03-11 22:15] arouinfar commented on #56
@kellywurtz this is the next primer you'll be working on (or in parallel with Coulomb's Law).  The sim hasn't been published yet, so you can use [rc.2](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-rc.2/phet/masses-and-springs-basics_en_phet.html) for recording. The script can be found [here](https://docs.google.com/document/d/1D8jMV6byhWEUbK-cobJlhiDJPYjWY-KZUub1DsFuBUc/edit)

[2019-03-12 14:59] Denz1994 commented on #59
Nice. Similar behavior for a dynamic maxWidth was applied to all other checkboxes and radio buttons in with a complimentary icon. Could you review master @arouinfar and assign back to me?

[2019-03-12 16:51] arouinfar commented on #59
Looks good in MAS and MASB! Thanks @Denz1994.

[2019-03-13 14:06] Denz1994 commented on #60
Changes cherry-picked into master. Also, some changes to the `touchAreaXDialtion` were committed to both relevant branches. This is ready for verification in next RC.

[2019-03-13 14:09] Denz1994 commented on #59
The relevant commits need to be cherry-picked into the RC branch for MASB before the next RC test.

[2019-03-13 14:33] Denz1994 commented on #59
Relevant commits have been cherry-picked into MAS `masses-and-springs-basics-1.0` branch and MASB `1.0` branch. This is now ready for verification in the next RC test.

[2019-03-13 14:54] Denz1994 commented on #58
RC branch is ready for verification in the next RC test.

[2019-03-14 19:00] KatieWoe commented on #31
QA so far: Megan Lai, Liam Mulhall, Laura Rea, Jacob Romero, Kathryn Woessner

[2019-03-15 14:48] KatieWoe commented on #59
Looks good in both versions.  MASB 1.0.0-rc.3

[2019-03-15 14:48] #59 closed

[2019-03-15 14:50] KatieWoe commented on #60
Still occurs a bit in both cases, but seems better.  Will eave up to @arouinfar to see if she finds it acceptable.  MASB 1.0.0-rc.3

[2019-03-15 14:52] KatieWoe commented on #61
Looks good in both versions.  MASB 1.0.0-rc.3

[2019-03-15 14:52] #61 closed

[2019-03-15 16:24] arouinfar commented on #60
Comparnig rc.3 (left) to rc.2 (right), the pointer area overlaps have reduced, and look reasonable to me. I wouldn't want to make the x-dilation on the mass slider thumb any smaller because I think the slider would become harder to use.
<img src="https://user-images.githubusercontent.com/8419308/54444938-64a01000-4709-11e9-9a1e-f5ac4acbdb99.png" width=250> <img src="https://user-images.githubuserc

[2019-03-15 16:24] #60 closed

[2019-03-15 19:20] KatieWoe commented on #63
Looks good in both versions.  1.0.0-rc.3

[2019-03-15 19:20] #63 closed

[2019-03-15 20:42] KatieWoe opened #65 "Period Trace can change size when paused with LoL"
For https://github.com/phetsims/QA/issues/296
When the period trace is in the middle of drawing its second piece, pause the sim with the LoL harness.  When unpaused the leg will be shorter than it should be.  It doesn't seem to work when the sim is in the slowed down speed, and so timing this can be tricky.  Takes several tries in the bellow gif.  It resolves itself upon the next pass of the sprin

[2019-03-15 21:24] KatieWoe opened #66 "Floating mass can be behind a mass on the spring"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/296
The way the layering for the masses in the play area works is the latest mass to be picked up is in the front.  This means that in normal use a mass being held in the path of a moving spring will be in front.  However, there are two ways to get around this,

[2019-03-15 22:02] arouinfar commented on #66
Nice observation @KatieWoe. I think you've discovered some nuances for how the z-ordering can behave, but I don't think there's anything we need to do. In general, the masses are layered above the springs, but the relative layering of the masses can change depending on which mass is active.

For the multitouch method, the green mass was picked up more recently, so it gets layered on top of the blu

[2019-03-15 22:02] #66 closed

[2019-03-15 22:08] arouinfar commented on #65
@KatieWoe nice catch. This seems like an edge case to me, and would agree it's pretty minor (but keep reporting this kind of stuff!). As you mentioned, it takes several tries to pause the harness in the right spot, and the period trace will correctly draw on the next pass.

@Denz1994 if you see some obvious reason why this bug may be occurring,  feel free to address. Otherwise, please close.

[2019-03-15 22:15] KatieWoe commented on #57
This looks good in 1.0.0-rc.3

[2019-03-15 22:15] #57 closed

[2019-03-18 16:27] KatieWoe commented on #64
This looks ok from what I've seen 1.0.0-rc.3.  I hadn't seen this before, so I was a bit confused.  But moving the gravity slider and choosing the different planets doesn't seem to cause any problems.

[2019-03-18 16:27] #64 closed

[2019-03-18 16:31] KatieWoe commented on #58
This looks ok 1.0.0-rc.3

[2019-03-18 16:31] #58 closed

[2019-03-19 14:28] Denz1994 commented on #65
Not exactly obvious, but my hunch is that the step calls are out of sync at some point when playing and pausing the wrapper and not the sim. This may be related to https://github.com/phetsims/joist/issues/515#issuecomment-422432002.

I'll close this issue because the physics of the sim isn't being broken.

[2019-03-19 14:28] #65 closed

[2019-03-22 14:09] Denz1994 commented on #31
@KatieWoe Please check this [RC version](https://phet-dev.colorado.edu/html/masses-and-springs-basics/1.0.0-rc.4/phet/masses-and-springs-basics_en_phet.html) for the updated QA credits.

[2019-03-22 14:22] Denz1994 commented on #31
Also, @arouinfar could you verify credits as part of #1

[2019-03-22 14:29] KatieWoe commented on #31
Looks good for QA

[2019-03-22 14:30] Denz1994 commented on #31
From slack @KatieWoe said:

Removing @KatieWoe assignment. Thanks QA.

[2019-03-22 15:20] Denz1994 commented on #31
From slack @arouinfar said:

Unassigning @arouinfar and closing.

[2019-03-22 15:23] Denz1994 commented on #1
Credits verified [here](https://github.com/phetsims/masses-and-springs-basics/issues/31#issuecomment-475661843). This was the last issue open for RC testing as well.

[2019-03-22 15:30] #31 closed

[2019-03-22 16:05] Denz1994 commented on #1
RC testing finished. See https://github.com/phetsims/QA/issues/296#issuecomment-475665485

[2020-08-27 14:59] KatieWoe opened #67 "CT Assertion failed"
[code]

[2020-08-31 19:50] samreid commented on #67
I'd like to take a look, self-assigning.

[2020-08-31 20:02] samreid commented on #67
In the commit, I removed the tandem from the MutableOptionsNode.  Tandem is not a good match for MutableOptionsNode because when the wrapped instance is temporarily disposed, PhET-iO will have a period of time where a static object doesn't exist.

Perhaps the best long term solution is to implement color-changing support directly in ParametricSpringNode, instead of using MutableOptionsNode as a wo

[2020-09-22 16:07] oliver-phet commented on #26
From phethelp:

[2020-09-29 05:53] arouinfar commented on #26
@oliver-phet please direct the user to the regular version of Masses and Springs. There, we use the term "Spring Constant". The basics version of the simulation purposefully uses colloquial language as it is intended for a much younger audience. Can you also please share the `screens` query parameter with them? Perhaps they chose to use MASB over MAS because it includes advanced representations li

[2020-09-29 14:54] oliver-phet commented on #26
Replied to user, closing.

[2020-09-29 14:54] #26 closed

[2022-10-13 18:08] zepumph opened #68 "Should "default" be in the colorProfiles?"
Right now it just says basics:

https://github.com/phetsims/masses-and-springs-basics/blob/e4a1eeae9c0834cefb1657741d6f683c7b815ff4/package.json#L13-L15

[2022-10-17 23:00] arouinfar commented on #68
My guess is that `default` corresponds to the colors used in Masses and Springs. This seems similar to Molecule Shapes: Basics which only contains `basics` and `projector`:

https://github.com/phetsims/molecule-shapes-basics/blob/master/package.json#L35-L37